/* ***=====Typography====*** */
:root {
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  /* font-family */
  --ff--txt: "Noto Sans", sans-serif;

  /* colors */
  --primary-clr: #3b3e5a;
  --secondary-clr: #f7a668;
  --main-clr: #ece6ce;
  --accent-clr: #ed6b5a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff--txt);
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Image */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

/* visually-hidden */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*=============utilities classes==============*/
.btn {
  display: inline-block;
  padding: 0.8em 1.2em;
  background-color: var(--bg-btn-clr, blue);
  color: var(--btn-clr, white);
  border-radius: 0.5em;
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.spacing > * + * {
  margin-top: var(--space, 1em);
}

.center {
  text-align: center;
}

/* General Styling */
.nav-container,
.container {
  width: min(90%, 85em);
  margin-inline: auto;
}

.container {
  padding: var(--padding, 1.3em);
  /* border: 2px solid firebrick; */
}

.primary-title,
.section-title,
.content-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: var(--fw-900);
}

.primary-title {
  font-size: 2.2rem;
}

.section-title {
  font-size: 1.6rem;
  margin-bottom: var(--mrg-btm, 1em);
}

.content-title {
  font-size: 1.25rem;
}

/* Navbar */
.primary-header,
.primary_navigation {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 2em);
  padding-block: 1.25em;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary_navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background: hsla(0, 0%, 0%, 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary_navigation {
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

.logo,
.nav__link-item {
  color: #333;
  font-weight: var(--fw-900);
  text-decoration: none;
}

.logo {
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__link-item {
  font-size: 1.25rem;
}

/* --------------------Hero---------------------- */
.hero {
  min-height: 100svh;
  color: white;
  background: #222;
  padding-block-start: 6.5em;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(img/remove-bg.png), radial-gradient(#444, #666);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.tagline {
  font-size: 1.25rem;
}

/* -------------------- About ---------------------- */
.about {
  padding-block-start: 5em;
}

.grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--gap, 1.2em);
  grid-template-areas:
    "one"
    "two";
  /* border: 3px solid red; */
}

.grid > *:first-child {
  grid-area: one;
}
.grid > *:last-child {
  grid-area: two;
}

@media (min-width: 35em) {
  .grid {
    grid-template-areas: "one two";
  }
}

/* -------------------- Featured ---------------------- */

.split {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 0.5em);
  justify-content: center;
}

.split > * {
  flex-basis: 25%;
  min-width: 18em;
}

.featured {
  padding-block-start: 5em;
}

.featured__item {
  display: block;
  position: relative;
  text-decoration: none;
  transform: scale(0.85);
  transition: transform 0.25s ease-in-out;
  line-height: 1.2;
  color: #333;
}

.featured__item:hover,
.featured__item:focus {
  transform: scale(1);
}

.featured__item:hover .featured__details,
.featured__item:focus .featured__details {
  opacity: 1;
  text-shadow: 0 0 2em white;
}

.featured__item::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  z-index: -1;
  background: #2193b0;
}

.featured__details {
  opacity: 0;
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  transition: opacity 250ms linear;
}

.price {
  display: block;
  font-size: 1.5em;
  font-weight: var(--fw-700);
}

@media (max-width: 58em) {
  /* Navbar */
  .primary_navigation {
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    inset: 0 0 0 30%;
    padding-block: min(30vh, 10rem);
    padding-inline: 2em;
    transform: translateX(100%);
    transition: transform 0.35s ease-out;
    --gap: 2em;
  }

  .primary_navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(assets/shared/icons-hamburger-menu.svg);
    background-repeat: no-repeat;
    width: 2.7rem;
    aspect-ratio: 1;
    border: 0;
    top: 1.5%;
    right: 9%;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(assets/shared/icons-close.svg);
  }
}

@media (min-width: 58em) {
  /* Navbar */
  .primary_navigation {
    text-transform: uppercase;
  }
}
