/* ***=====Typography====*** */
:root {
  /* font-size */

  /* font-weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  /* font-family */
  --ff--txt: "Noto Sans", sans-serif;

  /* colors */
  --primary-clr: #3b3e5a;
  --secondary-clr: #f7a668;
  --main-clr: #ece6ce;
  --accent-clr: #ed6b5a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff--txt);
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Image */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

/* Section */
section {
  min-height: 100svh;
  /* padding-block: 10em; */
}

/* visually-hidden */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* utilities classes */
.btn {
  display: inline-block;
  padding: 0.5em 0.8em;
  background-color: var(--bg-btn-clr, blue);
  color: var(--btn-clr, white);
  border-radius: 0.5em;
  text-decoration: none;
}

.primary-title,
.section-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: var(--fw-900);
  margin-bottom: 1.5em;
}

/*---------*** General Styling ***-------*/
/* =======================================*/
.container {
  width: min(90%, 85em);
  margin-inline: auto;

  border: 2px solid firebrick;
}

/* navbar */
.primary-header,
.primary_navigation {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary_navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background: hsla(0, 0%, 0%, 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary_navigation {
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

.logo,
.nav__link-item {
  color: black;
  font-weight: var(--fw-700);
  text-decoration: none;
}

.logo {
  margin: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* hero */
.hero {
  text-align: var(--align, center);
  color: white;
  background: #222;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(img/shoe-3.png), radial-gradient(#444, #666);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/* about */
.about {
  padding: var(--padding, 1em);
  text-align: var(--align, left);
}

.grid {
  max-width: 800px;
  aspect-ratio: 1;
  display: grid;
  grid-template-areas:
    "one"
    "two";
  grid-auto-columns: 1fr;
  margin-inline: auto;
  gap: var(--gap, 1.5rem);
}

.grid > *:first-child {
  grid-area: one;
}

.grid > *:last-child {
  grid-area: two;
}

@media (min-width: 35em) {
  .about {
    --align: center;
  }
  .grid {
    grid-template-areas: "one two";
  }
}

@media (max-width: 58em) {
  /* Navbar */
  .primary_navigation {
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    inset: 0 0 0 30%;
    padding-block: min(30vh, 10rem);
    padding-inline: 2em;
    transform: translateX(100%);
    transition: transform 0.35s ease-out;
    --gap: 2em;
  }

  .primary_navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(assets/shared/hambuger-menu.svg);
    background-repeat: no-repeat;
    width: 2.7rem;
    aspect-ratio: 1;
    border: 0;
    top: 2.1%;
    right: 9%;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(assets/shared/close-menu.svg);
  }
}

@media (min-width: 58em) {
  /* Navbar */
  .primary_navigation {
    padding-block: 1em;
    text-transform: uppercase;
    /* padding-inline: clamp(1.5rem, 3vw, 2rem); */
    /* --gap: clamp(1rem, 2vw, 1.7rem); */
  }
}
